<ion-view view-title="Carpetas">
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>Agrupada</h2>
        <progress max="100" value="100"> </progress>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>Agrupada Teología</h2>
        <progress max="100" value="0"> </progress>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>GM</h2>
        <progress max="100" value="70"> </progress>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>GMM</h2>
        <progress max="100" value="0"> </progress>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>GMMA</h2>
        <progress max="100" value="0"> </progress>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>Medalla de Bronce</h2>
        <progress max="100" value="100"> </progress>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>Medalla de Plata</h2>
        <progress max="100" value="50"> </progress>
      </ion-item>
      <ion-item class="item-thumbnail-left">
        <img>
        <h2>Medalla de Oro</h2>
        <progress max="100" value="0"> </progress>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
