<ion-view view-title="Ficha">
  <ion-content>
    <div style="line-height: 250px; text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <ion-list>
      <div class="item item-divider">
        Información personal
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre competo</span>
        <input type="text" placeholder="Daniel Scholtus">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Fecha de nacimiento</span>
        <input type="date" value="1987-07-26">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" value="daniel@scholtus.com.ar">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Teléfono</span>
        <input type="tel" value="+54 11 5113-9513">
      </label>
      <ion-item ui-sref="shekinah.libros" class="item-icon-left">
        <i class="icon ion-medkit"></i> Ficha médica
      </ion-item>
      <div class="item item-divider">
        Información del club
      </div>
      <ion-item>
        Club
        <span class="item-note">
          Shekinah
        </span>
      </ion-item>
      <ion-item>
        Director
        <span class="item-note">
          Fulano de Tal
        </span>
      </ion-item>
      <ion-item>
        Consejero
        <span class="item-note">
          Sultano
        </span>
      </ion-item>
      <ion-item>
        Unidad
        <span class="item-note">
          Unidad X
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
